@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

$darkViolet: hsl(256, 26%, 20%);
$grayishBlue: hsl(216, 30%, 68%);
$veryDarkViolet: hsl(270, 9%, 17%);
$darkGrayishViolet: hsl(273, 4%, 51%);
$veryLightGray: hsl(0, 0%, 98%);
$karla: 'Karla',
sans-serif;
$dmSerif: 'DM Serif Display',
serif;


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: $karla;
}

header.main-header {
    display: flex;
    padding: 1em;
    justify-content: space-between;
    align-items: center;

    .main-header__menu {
        display: none;
    }

    .main-header__logo {
        img {
            max-width: 90px;
        }
    }
}

@media screen and (min-width: 1020px){

    header.main-header {
        padding: 1em 4em;
        z-index: 3;
    }

    .main-header__menu-mobile {
        display: none;
    }

    .main-header__menu{
        display: block !important;


        .main-header__menu-links {
            list-style-type: none;
            display: flex;
            
            
            .menu-link {
                a{
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $darkGrayishViolet;
                    margin-right: 1.5em;
                    font-size: 0.9em;

                    &:hover {
                        font-weight: bolder !important;

                    }
                }             
            }
        }
    }
}

.intro-section {
    display: flex;
    flex-direction: column;

    #rdp, #ldp {
        display: none;
    }

    .intro-section__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 2.5em;
        order: 1;
        text-align: center;
        background: url(images/bg-pattern-intro-left-mobile.svg) top left no-repeat,
            url(images/bg-pattern-intro-right-mobile.svg) 100% 100% $darkViolet fixed no-repeat;


        .line {
            display: none;
        }

        .intro-section__heading {
            font-family: $dmSerif;
            color: $veryLightGray;
            font-weight: 400;
            font-size: 2.5em;
            line-height: 1em;
            margin-bottom: 0.2em;
        }

        .intro-section__paragraph {
            color: $veryLightGray;
            font-size: 0.8em;
            line-height: 2em;
            margin-bottom: 2.5em;
        }
    }

    .intro-section__photo {

        img {
            height: 100%;
            width: 100%;
            margin: 0;
        }
    }

}

@media screen and (min-width: 500px) {
    .intro-section {
        .intro-section__content {
            order: 0;

            .btn-primary {
                padding: 1em 3em;
                font-size: 0.8em;
                
                
            }
        }

        .intro-section__photo{
            margin: auto;
            img {
                max-width: 600px;
            }
        }
    }
}

@media screen and (min-width: 1020px){
    .intro-section {
        flex-direction: row;
        width: 100%;
        background-color: $darkViolet;
        margin-bottom: 12em;
        
        
        #rdp {
            display: block;
            position: absolute;
            right: 0;
            max-height: 60%;
            z-index: 2;
        }

        #ldp {
            display: block;
            position: absolute;
            left: 0;
            z-index: 2;
            top: 60%;
            max-height: 60%;
        }

        .intro-section__content {
            padding: 2em 6em;
            max-width: 40%;
            align-items: flex-start;
            width: 100%;
            text-align: left;
            min-height: 450px;
            background: none;
            

            .intro-section__heading {
                font-size: 3em;
            }

            .line {
                display: block;
                width: 15%;
                margin-left: 0;
                // margin: auto;
            }
        }

        .intro-section__photo {
            position: absolute;
            left: 50%;
            top: 25%;

            img {
                max-width: 100%;
                min-width: 60%;
            }
        }
    }
}

.offer-section {
    text-align: center;
    padding: 2em;
    background: url(images/bg-pattern-intro-right-mobile.svg) top right no-repeat;


    .offer-section__heading {
        font-family: $dmSerif;
        color: $veryDarkViolet;
        font-weight: 400;
        font-size: 2.5em;
        line-height: 1em;
        margin: 1em 0 2em 0;
    }

    .line {
        margin-top: 3em;
        width: 40%;
        color: $veryLightGray;
    }

    .offer-section__cards {
        .offer-section__cards-card {
            margin-bottom: 4em;

            .card-heading {
                font-family: $dmSerif;
                font-size: 1.4em;
                color: $veryDarkViolet;
            }

            .card-paragraph {
                color: $darkGrayishViolet;
                font-size: 0.95em;
                padding: 0 2em;
            }
        }
    }

    .offer-section__cta {
        padding: 4em 2em;
        height: 100%;
        background: url(images/bg-pattern-how-we-work-mobile.svg) top right no-repeat $darkViolet;

        h1 {
            font-family: $dmSerif;
            color: $veryLightGray;
            font-weight: 400;
            font-size: 2em;
        }
    }
}

@media screen and (min-width: 1020px){
    .offer-section {
        text-align: left;
        margin-top: 5em;
        padding: 5em;
        background: none;

        .line {
            margin-left: 0;
            width: 10%;
        }

        .offer-section__heading {
            font-size: 3em;
            margin-bottom: 1em;
        }

        .offer-section__cards {
            display: flex;
            text-align: left;

            .offer-section__cards-card {
                padding: 1em;
            }

            .offer-section__cards-card .card-paragraph {
                padding: 0;
                
            }
        }

        .offer-section__cta {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 4em;
            background: url(images/bg-pattern-how-we-work-desktop.svg) top right no-repeat #2d2640;

            .offer-section__cta-heading {
                font-size: 2.5em;
                width: 30%;
                margin: 0;
                line-height: 1em;
            }
        }
    }
}



footer.main-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;

    ul {
        list-style-type: none;
        padding: 0;
    }

    hr {
        width: 75% !important;
        color: $darkGrayishViolet;
        opacity: .5;
        margin-top: 2em;
    }

    .main-footer__intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100px;
        width: 100%;
        background-image: url(images/bg-pattern-footer-mobile.svg);
        background-size: cover;
        margin: 1em 0;


        .main-footer__intro-logo {
            max-width: 80px;
            margin-bottom: 2em;
            margin-top: 2em;
        }

        .main-footer__intro-socials {
            a {
                margin-right: 0.5em;

                img {
                    max-width: 18px;
                    max-height: 18px;
                }
            }


        }
    }

    .main-footer__menu {
        .main-footer__menu-column {

            margin-bottom: 3em;

            .main-footer__menu-column-paragraph {
                text-transform: uppercase;
                color: $darkGrayishViolet;
                font-size: 0.9em;
                margin-bottom: 2em;
            }

            li {
                text-transform: uppercase;
                font-size: 0.7em;
                color: $veryDarkViolet;
                margin-bottom: 1em;
                font-weight: 700;
            }
        }
    }
}

@media screen and (min-width: 1020px){
    footer.main-footer {
        padding: 3em;
        text-align: left;

        hr {
            margin: 1em 0;
        }

        .main-footer__intro {
            // display: flex;
            width: 80%;
            flex-direction: row;
            justify-content: space-between;
            margin: 0;

            .main-footer__intro-socials {
                .socials-links-link:hover {
                    img {
                        fill: yellow !important;
                    }

                }
            }
        
        }

        .main-footer__menu {
            display: flex;
            justify-content: space-evenly;
            width: 80%;
            margin-left: 0;
        }
    }
}

.btn-primary {
    text-transform: uppercase;
    text-decoration: none;
    color: $veryLightGray;
    font-size: 0.7em;
    border: 1px solid $veryLightGray;
    padding: 0.8em 2em;
}

.dark {
    border: 1px solid $veryDarkViolet !important;
    color: $veryDarkViolet !important;
    
    &:hover {
        background-color: $veryDarkViolet;
        color: white !important;
        transition-property: background-color;
        transition-duration: 0.5s;
    }
}

.light {
    &:hover {
        background-color: white !important;
        color: $darkViolet;
        transition-property: background-color;
        transition-duration: 0.5s;
        font-weight: bolder;
    }
}

a {
 cursor: pointer !important;   
}